<div class="login-container">
  <div class="login-card">
    <h1>Welcome to Guest House</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Enter your email" />
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
          Email is required.
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
          Enter a valid email.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Enter your password" />
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          Password is required.
        </mat-error>
        <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
          Password must be at least 6 characters long.
        </mat-error>
      </mat-form-field>

      <div class="actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
          Login
        </button>
      </div>
    </form>

    <div class="forgot-password-link">
    <a class="forgot-password" [routerLink]="['/forgot-password']">Forgot Password?</a>
    </div>
  </div>
</div>